<%- include('partials/header'); -%>

<h1>WELCOME TO THE TASC FORCE</h1>
<h3>Click Below to Enter the Users chat</h3>


<form action="/chatting">
   <h1> <input type="submit" value="Enter"></h1>
</form>
<%- include('partials/footer'); -%>