<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TASC</title>
    <meta content="Your one-stop solution for cybersecurity services" name="description">
    <meta content="cybersecurity, security, services, solutions, consulting" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="signin.css">
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a
                        href="mailto:info@cybersecuritysolutions.com">info@TascForce.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 123 4567890</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section><!-- End Top Bar-->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <div id="logo">
                <h1><a href="/">TA<span>SC</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->






    <!-- add signup form here -->



    <!-- ======= hero Section ======= -->
    <section id="hero-signup">
        <div class="hero-content" data-aos="fade-up">


            <!-- <div class="containerr">
                <div class="screen">
                    <div class="screen__content">
                        <form class="login">
                            <div class="login__field">
                                <i class="login__icon fas fa-user"></i>
                                <input type="text" class="login__input" placeholder="User name / Email">
                            </div>
                            <div class="login__field">
                                <i class="login__icon fas fa-lock"></i>
                                <input type="password" class="login__input" placeholder="Password">
                            </div>
                            <button class="button login__submit">
                                <span class="button__text">Log In Now</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>
                            <button class="button login__submit">
                                <span class="button__text">signup instead?</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>
                        </form>
                        <div class="social-login">
                            <br><br><br>
                            <h3>TASC</h3>
                            <div class="social-icons">
                                <a href="#" class="social-login__icon fab fa-instagram"></a>
                                <a href="#" class="social-login__icon fab fa-facebook"></a>
                                <a href="#" class="social-login__icon fab fa-twitter"></a>
                            </div>
                        </div>
                    </div>
                    <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>
                        
                    </div>
                </div>
            </div> -->

            <ul class="navv">
                <li onclick="showLogin()">Login</li>
                <li onclick="showSignup()">Sign up</li>
                <li onclick="showForgotPassword()">Forgot password</li>
                <li onclick="showSubscribe()">Email Verification</li>
                <!-- <li onclick="showContactUs()">Contact us</li> -->
              </ul>
              <div class="wrapper">
                <div class="rec-prism">
                  <div class="face face-top">
                    <div class="content">
                      <h2>Verify Your Account</h2>
                      <small>Please enter the 3 digits code sent to your email after you signup</small>
                      <form onsubmit="event.preventDefault()">
                        <div class="field-wrapper">
                          <input type="text" name="email" placeholder="email">
                          <label>Enter the 3 digit code</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="submit" onclick="showThankYou()">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="face face-front">
                    <div class="content">
                      <h2>Sign in</h2>
                      <form onsubmit="event.preventDefault()">
                        <div class="field-wrapper">
                          <input type="text" name="username" placeholder="username">
                          <label>username</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="password" name="password" placeholder="password" autocomplete="new-password">
                          <label>password</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="submit" onclick="showThankYou()">
                        </div>
                        <span class="psw" onclick="showForgotPassword()">Forgot Password?   </span>
                        <span class="signup" onclick="showSignup()">Not a user?  Sign up</span>
                      </form>
                    </div>
                  </div>
                  <div class="face face-back">
                    <div class="content">
                      <h2>Forgot your password?</h2>
                      <small>Enter your email so we can send you a reset link for your password</small>
                      <form onsubmit="event.preventDefault()">
                        <div class="field-wrapper">
                          <input type="text" name="email" placeholder="email">
                          <label>e-mail</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="submit" onclick="showThankYou()">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="face face-right">
                    <div class="content">
                      <h2>Sign up</h2>
                      <form onsubmit="event.preventDefault()">
                        <div class="field-wrapper">
                          <input type="text" name="email" placeholder="email">
                          <label>e-mail</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="password" name="password" placeholder="password" autocomplete="new-password">
                          <label>password</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="password" name="password2" placeholder="password" autocomplete="new-password">
                          <label>re-enter password</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="submit" onclick="showThankYou()">
                        </div>
                        <span class="singin" onclick="showLogin()">Already a user?  Sign in</span>
                      </form>
                    </div>
                  </div>
                  <div class="face face-left">
                    <!-- <div class="content">
                      <h2>Contact us</h2>
                      <form onsubmit="event.preventDefault()">
                        <div class="field-wrapper">
                          <input type="text" name="name" placeholder="name">
                          <label>Name</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="text" name="email" placeholder="email">
                          <label>e-mail</label>
                        </div>
                        <div class="field-wrapper">
                          <textarea placeholder="your message"></textarea>
                          <label>your message</label>
                        </div>
                        <div class="field-wrapper">
                          <input type="submit" onclick="showThankYou()">
                        </div>
                      </form>
                    </div> -->
                  </div>
                  <div class="face face-bottom">
                    <div class="content">
                      <div class="thank-you-msg">
                        Thank you!
                      </div>
                    </div>
                  </div>
                </div>
              </div>





        </div>
        <div class="hero-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img4.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img5.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img3.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img1.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img2.jpg');"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>../

    </section><!-- End Hero -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <br>
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Cybersecurity</h3>
                        <p>Your one-stop solution for cybersecurity services.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Looney Wala, Faisalabad, Pakistan <br>
                            Country<br>
                            <strong>Phone:</strong> +92 323 6631551<br>
                            <strong>Email:</strong> f219203@cfd.nu.edu.pk<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Follow us on social media for updates and news.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="container footer-bottom clearfix">
            <div class="text-center">
                <p>© Cybersecurity. All Rights Reserved</p>
            </div>
        </div> -->
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="signin.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <br>
</body>

</html>