<%- include('partials/header') %>



  <!-- ======= hero Section ======= -->
  <section id="hero-signup">
    <div class="hero-content" data-aos="fade-up">
      <ul class="navv">
        <!-- <li><a href="/signin" >Login</a></li>
        <li><a href="/signup" >Sign Up</a></li>
        <li onclick="showForgotPassword()">Forgot password</li>
        <li onclick="showSubscribe()">Email Verification</li> -->
      </ul>
      <div class="wrapper">
        <div class="rec-prism">
          <!-- <div class="face face-top">
            <div class="content">
              <h2>Verify Your Account</h2>
              <small>Please enter the 3 digits code sent to your email after you signup</small>
              <form onsubmit="event.preventDefault()">
                <div class="field-wrapper">
                  <input type="text" name="email" placeholder="email">
                  <label>Enter the 3 digit code</label>
                </div>
                <div class="field-wrapper">
                  <input type="submit" onclick="showThankYou()">
                </div>
              </form>
            </div>
          </div> -->
          <div class="face face-front">
            <div class="content">
              <h2>Sign in</h2>
              <form id="loginForm" action="/login" method="POST">
                <div class="field-wrapper">
                  <input type="text" name="email" placeholder="email">
                  <label>username</label>
                </div>
                <div class="field-wrapper">
                  <input type="password" name="password" placeholder="password" autocomplete="new-password">
                  <label>password</label>
                </div>
                <div class="field-wrapper">
                  <input type="submit" value="Sign In" onclick="showThankYou()">
                </div>
                <span class="psw" onclick="showForgotPassword()">Forgot Password? </span>
                <span class="signup"><a href="/signup">Not a user? Sign up</a></span>
              </form>
            </div>
          </div>
          <div class="face face-back">
            <div class="content">
              <h2>Forgot your password?</h2>
              <small>Enter your email so we can send you a reset link for your password</small>
              <form onsubmit="event.preventDefault()">
                <div class="field-wrapper">
                  <input type="text" name="email" placeholder="email">
                  <label>e-mail</label>
                </div>
                <div class="field-wrapper">
                  <input type="submit" onclick="showThankYou()">
                </div>
              </form>
            </div>
          </div>
          <!-- <div class="face face-right">
            <div class="content">
              <h2>Sign up</h2>
              <form id="signupForm" action="/signup" method="POST">
                <div class="field-wrapper">
                  <input type="text" name="email" placeholder="email">
                  <label>e-mail</label>
                </div>
                <div class="field-wrapper">
                  <input type="password" name="password" placeholder="password" autocomplete="new-password">
                  <label>password</label>
                </div>
                <div class="field-wrapper">
                  <input type="submit" onclick="showThankYou()">
                </div>
                <span class="singin" onclick="showLogin()">Already a user? Sign in</span>
              </form>
            </div>
          </div> -->
          <div class="face face-bottom">
            <div class="content">
              <div class="thank-you-msg">
                Thank you!
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img5.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../assets/img/hero-carousel/img2.jpg');"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>../

  </section><!-- End Hero -->

  <%- include('partials/footer') %>